<h1>Somebody wants <%= @item.title %></h1>

<p>
  <%= @greeting %>

</p>

<p>You've received this email because you listed a free item on <%= @item.created_at %>, <%= @item.title %>. Someone would like to claim it. Here's the message:
<p>
  <%= @message %>
</p>