<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @item.expiry_date %>
</p>

<p>
  <strong>Lister email:</strong>
  <%= @item.lister_email %>
</p>

<p>
  <strong>Lister tel:</strong>
  <%= @item.lister_tel %>
</p>

<p>
  <strong>Sms notify:</strong>
  <%= @item.sms_notify %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
