<!DOCTYPE html>
<html>
<head>
  <title>Freestufforg</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  </head>

  <p id="notice"><%= notice %></p>

    <h1>Listing Items</h1>

    <div>
      <select id="locationDropDown" ng-model="location">
        <option value=""></option>
        <option value="Wan Chai">Wan Chai</option>
        <option value="Central">Central</option>
        <option value="Causeway Bay">Causeway Bay</option>
        <option value="Stanley">Stanley</option>
        <option value="TST">Tsim Sha Tsui</option>
        <option value="Mong Kok">Mong Kok</option>
      </select>

      {{ location }}

    <p>
      <button id="resetModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      List Item</button>
    </p>

  <body ng-app="freeItems">

    <div ng-controller="ListController" class="container">

      <%= yield %>

    </div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>
</body>
</html>


